extend layout

block content
 .container
 
   h1 Welcome to your team feed!
   p ---------\
   p=user
   p ---------\
   h2 Teams 
   ul 
    for team in ownedTeams
        a(href="createInvite/#{team._id}")= team.teamName
    for team in memberTeams 
        li= team.teamName 
   p display list of posts below:
   p -------\

  a(href="/logout")
    button.btn.btn-default(type='submit') Logout
