extend layout

block content
 .container
 
   h1 Welcome to your team feed!
   p ---------\
   p display list of posts below:
   p -------\

  a(href="/logout")
    button.btn.btn-default(type='submit') Logout
