extends layout

block content
  .container
    div
    .enterForm
      if (!user)
        h1 Welcome to TeamShare!
        br
        desc Looking for a way to maximise collaboration and information sharing between members of your team?
        br 
        p Look no further!
        br
        p TeamShare is an interactive and centralised platform aimed at facilitating resource sharing and collaboration in any team, giving you the ability to share articles and annotate for further discussion. 
        br
        div.buttons
          a(href='/login') 
            button.btn.btn-primary(type='button') Login
          &nbsp;
          a(href='/register') 
            button.btn.btn-primary(type="button") Register
          br
      if (user)
        h1 TeamShare
        p You are currently logged in as #{user.username}
        p should they be redirected to their team since 1 user can only have 1 team?
        a(href="/logout") Logout