extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    p should they be redirected to their team since 1 user can only have 1 team?
    a(href="/logout") Logout