body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

}
body{
    background: url("../playstation-pattern.png");
}
h1{
  vertical-align: middle;
  text-align: center;
}

desc{
  vertical-align: middle;
  text-align: center;
}

.container{
  vertical-align: middle;
  margin: 0 auto;
}
.center{
    text-align:center
}
.enterForm{
    display: block;
  margin: auto;
  max-width:400px;
  border-radius: 2px;
}

form {
  display: block;
  margin: auto;
  /* text-align: center; */
}

