body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

}

h1{
  vertical-align: middle;
  text-align: center;
}

desc{
  vertical-align: middle;
  text-align: center;
}

.container{
  vertical-align: middle;
  text-align: center;
}

form {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

