body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../playstation-pattern.png");
}

a {
  color: #00B7FF;

}

h1{
  vertical-align: middle;
}

desc{
  vertical-align: middle;
}

.container{
  vertical-align: middle;
  margin: 0 auto;
}
.center{
    text-align:center
}
.enterForm{
  display: block;
  margin: auto;
  max-width:400px;
  border-radius: 25px;
  background-color: #FFFFFF;
  border: 2px solid #BCC0CA;
  padding: 20px; 
}

.enterForm > h1 { text-align:center;}
div.buttons { text-align:center; }

.feed{
  display: block;
  margin: auto;
  border-radius: 25px;
  text-align: left;
  background-color: #FFFFFF;
  border: 2px solid #BCC0CA;
  padding: 20px; 
}

form {
  display: block;
  margin: auto;

  /* text-align: center; */
}


